.card{
display: flex;
flex-direction: column;
place-items: center;

}
.row{
    width: 20%;
    margin: 5px;
    place-items: center;
}
.btn{
   
    border: 20px;
    padding: 20px;
}
.create{
    width: 20%;
    height: 30px;
    border-radius: 7px;
    
    background-color: rgb(66, 120, 255);
}